/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Nunito', Arial, Verdana, Geneva, Tahoma, sans-serif;
    /*background: #3C6767;*/
    background: #F4F3F2;
    background-image: radial-gradient(darkgray, 6%, transparent 0);
    background-size: 30px 30px;
    /*color: aliceblue;*/
}



.vw-90 {
    width: 90vw;
}

.vw-80 {
    width: 80vw;
}

.vw-70 {
    width: 80vw;
}

.min-vh-10 {
    min-height: 10vh;
}